<%= image_tag('logo', alt: 'logo', height: "100", width: "100") %> 
<%= image_tag('logo', alt: 'logo', height: "100", width: "100") %>
<%= image_tag('logo', alt: 'logo', height: "100", width: "100") %>

<p>Explicação sobre o que é o site...<p>

<p><%= link_to 'Clique aqui para visualizar termos', terms_path %></p>
<p><%= link_to 'Já sou cadastrado', '#' %></p>
<p><%= link_to 'Novo usuário', '#' %></p>
