<%= image_tag('logo', alt: 'logo', height: "100", width: "100") %> 
<%= image_tag('logo', alt: 'logo', height: "100", width: "100") %>
<%= image_tag('logo', alt: 'logo', height: "100", width: "100") %>

<p><%= t(:about_site) %></p>

<p><%= link_to t(:view_terms).capitalize, terms_path %></p>
<p><%= link_to t(:already_registered).capitalize, users_dashboards_path %></p>

<% unless user_signed_in?%>
  <p><%= link_to t(:new_user).capitalize, new_social_distance_path %></p> 
<% end %>