<p><%= t(:hello).capitalize%> <%= @resource.email %>!</p>

<p><%= t(:someone_requested_password_changing).capitalize%>.</p>

<p><%= link_to t(:change_my_password).capitalize, edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:if_you_didnt_ask_ignore_email).capitalize%></p>
<p><%= t(:password_wont_change_until_click).capitalize%></p>
