<!DOCTYPE html>
<html>
  <head>
    <title>Syscovid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_tag "M.toast({html: '#{notice}'}, 4000)" unless notice.nil? %>
    <%= javascript_tag "M.toast({html: '#{alert}'}, 4000)" unless alert.nil? %>

    <%= yield %>
  </body>
</html>
