<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title><%= t(:system_title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/header' if signed_in? %>
    
    <div class="container">
      <%= render 'shared/notice_and_alert'%>
      <%= yield %>
    </div>

    <%= render 'shared/footer' if signed_in? %>

  </body>
</html>
